.sidebar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 10%;
    max-width: 100px;
    padding: 20px 2px;
    background-color: #040306;

    @media (max-width: 768px) {
        width: 100%;
        height: 56px;
        max-width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 24px;

    }
}

.sidebar-logo {
    width: 82px;
    height: 33px;
}

.logout-icon {
    width: 24px;
    height: 24px;
}